
a{
	font-size: 12px;
}



.login-bodyBox{
	width: 1190px;
	height: 666px;
	margin: 0 auto;
	margin-top: 15px;
	background: url(../img/login/logo-large.min.jpg) no-repeat left 40px;
	.login-realBox{
		width: 340px;
		height: 632px;
		border: 2px solid #cccccc;
		float: right;
		.login-Title{
			height: 44px;
			border-bottom: 1px solid #CCCCCC;
			line-height: 44px;
			font-size: 23px;
			color: #1566c0;
			text-indent: 25px;
		};
		
		
		.login-content{
			height: 280px;
			border-bottom: 1px dotted #cccccc;
			& p{
				height: 46px;
				padding-top: 10px;
				padding-left: 20px;
				input[type="text"]{
					height: 28px;
					width: 296px;
				};
			}	
			& p:nth-of-type(3){
				input{
					width: 88px;
					margin-right: 5px;
				};
				img{
					position: relative;
					top: 9px;
					margin-right: 6px;
				};
			};	
			& p:nth-of-type(4){
				.remember-pwd{
					margin-right: 8px;
				};
				.remember-pwd-7day{
					margin-right: 8px;
					margin-left: 18px;
				};
				span{
					font-size: 13px;
				};
			};
			& p:nth-of-type(5){
				.login-button{
					display: block;
					width: 80px;
					height: 37px;
					background: #fc530a;
					text-align: center;
					color: white;
					line-height: 37px;
					float: left;
				};
				.login-forgetPwd{
					display: block;
					float: left;
					line-height: 37px;
					margin-left: 6px;
				}
			};	
		};
		
		
		
		
		
		.login-outsideWeb{
			height: 230px;
			border-bottom: 1px solid #cccccc;
			padding-left: 52px;
			padding-top: 30px;
			h3{
				font-size: 12px;
				padding-bottom: 10px;
			};
			.websiteLogo{	
				border-bottom: none;
				a{
					width: 16px;
					height: 16px;
					margin-right: 8px;
					display: block;
					float: left;
					background: url(../img/login/icon6_all_bg.min.png) no-repeat 0 -300px;
				};
				a:nth-of-type(2){
					background-position-y: -220px;
				};
				a:nth-of-type(3){
					background-position-y: -240px;
				};
				a:nth-of-type(4){
					background-position-y: -200px;
				};
				a:nth-of-type(5){
					background-position-y: -40px;
				};
				
			}
			
		};
		.login-gotoRegistor{
			height: 45px;
			position: relative;
			overflow: hidden;
			background: #efefef;
			& span{
				color: #e73e31;
				font-size: 12px;
				margin-top: 16px;
				display: block;
				text-indent: 20px;
			};
			#login-registBtn{
				width: 90px;
				height: 23px;
				text-align: center;
				position: absolute;
				right: 10px;
				top: 11px;
				border : 1px solid lightgray;
				line-height: 23px;
				font-size: 12px;
				background: white;
			};
		};
	}
}
